$h--1: (
	base: '4xl',
	xs: '5xl',
	md: '6xl',
	xl: '7xl',
);

$h--2: (
	base: '2xl',
	xl: '3xl',
);

$h--3: (
	base: 'xl',
);
	
$h--4: (
	base: 'base',
);

$h--5: (
	base: 'xs',
);

$body: (
	base: 'base',
);

$body--small: (
	base: 'xs',
);

.e-h1,
.e-h2,
.e-h3,
.e-h4,
.e-h5 {
	@apply text-brand-blue-dark font-heading leading-tight tracking-normal;
}

.e-h1 {
	@include font-size($h--1);

	@apply font-medium tracking-tight;
}

.e-h2 {
	@include font-size($h--2);

	@apply font-medium;
}

.e-h3 {
	@include font-size($h--3);

	@apply font-medium leading-normal;
}

.e-h4 {
	@include font-size($h--4);

	@apply font-medium;
}

.e-h5 {
	@include font-size($h--5);

	@apply font-normal;
}

.e-body {
	@include font-size($body);

	@apply font-light leading-normal;

	&--small {
		@include font-size($body--small);
	}
}
