$h--1: (
	base: '3xl',
	xs: '4xl',
	md: '5xl',
	xl: '6xl',
);

$h--2: (
	base: 'xl',
	xl: '2xl',
);

$h--3: (
	base: 'base',
);

$h--4: (
	base: 'sm',
);

$h--5: (
	base: 'xs',
);

.e-h1,
.e-h2,
.e-h3,
.e-h4,
.e-h5 {
	@apply font-heading leading-tight tracking-normal;
}

.e-h1 {
	@include font-size($h--1);

	@apply font-medium tracking-tight;
}

.e-h2 {
	@include font-size($h--2);

	@apply font-medium;
}

.e-h3 {
	@include font-size($h--3);

	@apply font-medium;
}

.e-h4 {
	@include font-size($h--4);

	@apply font-light;
}

.e-h5 {
	@include font-size($h--5);

	@apply font-normal;
}
